/**
 * Created by armin on 27.09.15.
 */
module.exports = {
    host: '127.0.0.1',
    port: '5984',
    user: 'sensorreg',
    password: 'sensorreg',
    name: 'sensorreg',
    protocol: 'http',
    valuesDatabase: 'sensorvalues'
};