#navibar
  | 
  a(href='/') Home 
  | 
  a(href='/things') Things 
  |    
  a(href='/situationtemplate') Situation Templates 
  | 
  a(href='/api') API Reference 
  | 
  a(href='/nodered') NodeRed


