doctype html
html
  head
    title SitOPT
    link(rel='StyleSheet', href='style.css', type='text/css', media='screen')
  body
    #body2
      #page
        #menulinks
          include navibar
        #header
          h1
            a(href='#') SitOPT
          .description Optimierung und Adaption situationsbezogener Anwendungen basierend auf Workflow-Fragmenten
        #mainarea
          #contentarea

            h1 Situation Templates
            h2 Situation Templates define exactly one situation. It describes all conditions that must be met by the sensorvalues to derive the specified situation. 
            -for (var i in templates)
              - var template = templates[i]
              .boxed

                br
                | Name: #{template.name} 
                br
                | ID: #{template.id} 
                br
                | Situation: #{template.situation}
                br
                | Description: #{template.description}
                br


           

          #sidebar
            
              

        #footer
          include footer


