#palette {
        height: 200px;
        background: rgb(248, 248, 248);
        width: 180px;
        /* Testweise neue CSS
        box-shadow: 2px 2px 7px rgb(156, 156, 156);      */
        padding: 10px;
        /*border-radius:8px; */
        border:1px solid #dcdcdc;
        /*border: 1px solid #aeaeae;     */
        position: absolute;
        float: left;
        z-index: 100;
        cursor: default;
        border-radius: 0px 9px 9px 0px;

        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        overflow-x: hidden;
        overflow-y: visible;
        /* max-height: 90%;  */

        /* fix for bootstrap.css, which sets that to "border-box" */
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
}

#palette.shrunk {
        height: 200px;
        width: 35px;
        padding: 0px;
        padding-left: 9px;

}


#paletteLabel {
        width: 0px;
        background-color: blue;
        top: 110px;
        position: relative;
        transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        display: none;
        left: 8px;
        font-size: 20px;
        color: rgb(143, 151, 170);
}

.paletteEntryContextCondition {
        height: 35px;
        border: 1px solid rgb(200, 214, 228);
        border-radius: 12px;
        padding: 5px;
        margin: 0px;
        width: 165px;
}

.paletteEntryOperation {
        height: 35px;
        border: 1px solid rgb(200, 214, 228);
        border-radius: 12px;
        padding: 5px;
        margin: 0px;
        width: 165px;
}

.paletteEntrySituation {
        height: 35px;
        border: 1px solid rgb(200, 214, 228);
        border-radius: 12px;
        padding: 5px;
        margin: 0px;
        width: 165px;
}

.unselectable {
        /* disable text selection - source: http://stackoverflow.com/a/4407335/873282 */
        user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
}

.drawingArea {
        height: 750px;
        width:1192px;
        position: relative;
        float: right;
        background: rgb(240, 246, 255);
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, rgb(243, 243, 243) 100%);
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, rgb(243, 243, 243) 100%);
        background-image: -o-linear-gradient(top, #FFFFFF 0%, rgb(243, 243, 243) 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, rgb(243, 243, 243)));
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, rgb(243, 243, 243) 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, rgb(243, 243, 243) 100%);
        overflow-y: auto;
}

.nodeTemplateSituation {
        font-family: arial, verdana;
        font-size: 16px;

        border: 1px solid black;
        border: 2px solid rgb(112, 152, 179);
        border-radius: 12px;
        height: 100px;
        width: 200px;
        z-index:20;
        position:absolute;
        box-shadow: 2px 2px 10px #aaa;
        background: #ffffff;
        cursor: move;

        /* IE10 Consumer Preview */
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Opera */
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBF2F7));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBF2F7 100%);
}

.nodeTemplateContextCondition {
        font-family: arial, verdana;
        font-size: 16px;

        border: 1px solid black;
        border: 2px solid rgb(112, 152, 179);
        border-radius: 12px;
        height: 100px;
        width: 200px;
        z-index:20;
        position:absolute;
                /*top: 50%;
                left: 60%;*/
        box-shadow: 2px 2px 10px #aaa;
        background: #ffffff;
        cursor: move;

        /* IE10 Consumer Preview */
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Opera */
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBF2F7));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBF2F7 100%);
}

.nodeTemplateOperation {
        font-family: arial, verdana;
        font-size: 16px;

        border: 1px solid black;
        border: 2px solid rgb(112, 152, 179);
        border-radius: 50%;
        height: 80px;
        width: 80px;
        z-index:20;
        position:absolute;
                /*top: 40%;
                left: 50%;*/
        box-shadow: 2px 2px 10px #aaa;
        background: #ffffff;
        cursor: move;

        /* IE10 Consumer Preview */
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Opera */
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBF2F7));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBF2F7 100%);
}

h2 {
        font-size: 16px;
}

.hidden {
        display: none;
}

#sitForm {
                position: absolute;
                top: 20%;
                right: 5%;
}

#oprForm{
                position: absolute;
                top: 20%;
                right: 5%;
}

#contCondForm{
                position: absolute;
                top: 20%;
                right: 5%;
}

.nodeForm {
        font-family: arial, verdana;
        font-size: 16px;

        border-radius:8px;
        border:1px solid #dcdcdc;
        border-radius: 9px 0px 0px 9px;
        min-height: 150px;
        width: 200px;
        z-index:20;
        position:absolute;

        float:right;
       /*box-shadow: 5px 5px 17px #aaa;       */
        background: #ffffff;
        cursor: default;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        /* IE10 Consumer Preview
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);


        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);


        background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);


        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBF2F7));


        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBF2F7 100%);


        background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBF2F7 100%);  */
}

#sitButton {

}

#oprButton {

}

#cntxButton {

}

.saveButton {
        font-family: arial, verdana;
        font-size: 16px;

        height: 25px;
        width: 50px;
        position:relative;

        border-radius:8px;
        border:1px solid #dcdcdc;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
}
#sitType {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#oprName {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#oprType {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#oprNegated {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#contCondType {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#sensorType {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#oprType {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#operator {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#value {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#numberOfIntervals {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#secondValue {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

#unit {

        border:1px solid #dcdcdc;
        border-radius: 0px;
        height: 30px;
        width: 160px;
}

.selected {
        /* IE10 Consumer Preview */
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #c4ddf0 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #c4ddf0 100%);

        /* Opera */
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #c4ddf0 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #c4ddf0));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #c4ddf0 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #c4ddf0 100%);
}